#enterName{
  width: 100%;
  text-align: center;
  font-size:6vw;
}

body, html {
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: 'Oxygen Mono', monospace;
  color: #999;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size:6vw;
  margin-bottom: 15px;
  text-align: center;
}



.table {
  display: table;
  height: 100%;
  width:90%;
  background-color: #D66969;
}

.centeralign {
  display: table-cell;
  vertical-align: middle;
}


input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 1.3em;
  color: #D61A1F;
  top: -3.70rem;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input {
  float: left;
  width: 33.3333%;
  margin: 2rem 0 1rem;
  position: relative;
  left: 30%;
}
.styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
}
.styled-input.wide {
  width: 100%;
}

input, textarea {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
}
input ~ span, textarea ~ span {
  display: block;
  width: 0;
  height: 3px;
  background: #D61A1F;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}
input:focus, textarea:focus {
  outline: 0;
}
input:focus ~ span, textarea:focus ~ span {
  width: 100%;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}




