<div *ngIf = "!gameService.myPlayer.name">

    Would you mind telling your village your name?
    <input type="text" #userName  />
    <button (click) = "gameService.myPlayer.name = userName.value">Send my name</button>

  </div>

<div *ngIf = "gameService.myPlayer.name">
    Your name is {{gameService.myPlayer.name}}
</div>

<div *ngIf = "gameService.myPlayer.name">

  <p>Create new game: </p>
  <input #createGame type="text" placeholder = "Your code" [disabled] = "gameService.code"/>
  <button (click) = "gameService.createGame(createGame.value)" [disabled] = "gameService.code">Create game</button> <br /><br />

  <input #enterGame type="text" placeholder = "Your code" [disabled] = "gameService.code"/>
  <button (click) = "gameService.enterGame(enterGame.value)" [disabled] = "gameService.code" >Enter an already created game</button>

</div>
