<div style="width:100%;align-content:center;text-align:center">
  <h3>Welcome to pick the game cards:</h3>

  <button class="btn btn-primary" style="font-size:3vw;" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
    What is going here?
  </button>

  <div class="collapse" id="collapseExample2">
  <div class="card card-body" style="font-size:2vw;">

    There is the page where you have to pick your cards for roles with abilities.
    For example: &lt;&lt; On the previous page you established to have 2 specialists, so here you have to select from all the cards with specialists the ones that you would like &gt;&gt;

  </div>
  </div>
  <br/><br/>
  <button class="btn btn-primary" style="font-size:3vw;" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
      Tips
    </button>

    <div class="collapse" id="collapseExample3">
    <div class="card card-body" style="font-size:2vw;">

      If your team is a begginer one you should try :<br/>
      specialists: nurse, bodyguard<br/>
      leaders: detective, sheriff, judge<br/>

      <h5>Reccomanded combos</h5>
      hypnotist + judge<br/>
      badmouth + jailer<br/>

    </div>
    </div>
</div>

  <p>You have to pick {{selectionService.genericDeck?.leaders}} leaders</p>
  <p>You have to pick {{selectionService.genericDeck?.specialists}} specialists</p>
  <p>You have to pick {{selectionService.genericDeck?.mobsters}} mobsters</p>

  <p>You have chosen {{selectionService.genericDeck?.thugs}} thugs</p>
  <p>You have chosen {{selectionService.genericDeck?.bystanders}} bystanders</p>

  <h3>Pick your cards:</h3>

<div class="btn-group" style="width:100%;" role="group" aria-label="Basic example">

    <button type="button" (click) = "changePickingCards('leaders')" class="btn btn-secondary">Leaders</button>
    <button type="button" (click) = "changePickingCards('specialists')" class="btn btn-secondary">Specialits</button>
    <button type="button" (click) = "changePickingCards('mobsters')" class="btn btn-secondary">Mobsters</button>

</div>

<button class="btn btn-outline-success btn-lg btn-block" (click) = "startGame()">Start the game </button>

<div>

  <p>You have to pick {{genericDeck[currentCategory]}} {{currentCategory}}</p>
  <p>You have picked {{selectionService.Deck[currentCategory].length}}</p>

  <div *ngIf = "selectionService.Deck[currentCategory].length > 0"><p *ngFor = "let chosenCard of selectionService.Deck[currentCategory]">{{chosenCard}}</p></div>
  <div class="row" style="align-content:center;text-align:center;">

      <div class="card col-md-3 col-sm-6 col-xs-12" style="width: 100%;align-content: center;" *ngFor = "let card of groups[currentCategory]" >
          <img src ="/assets/{{card}}.jpeg" width="100%" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{card}}</h5>
            <p class="card-text">{{descriptions[card]}}</p>
            <a class="btn btn-primary" (click) = "pickCard(card)">{{!isPut(card) ? "Pick that card" : "Cancel that card"}}</a>
          </div>
      </div>

  </div>
</div>

