<p class="textPrincipal text-info" *ngIf = "mafiaWon">Mafia won</p>
<p class="textPrincipal text-info" *ngIf = "civiliansWon">CiviliansWon</p>

<div>

    <p class="text-info textPrincipal"> All players: </p>

    <p *ngFor = "let player of players" class="text-dark textSecundar">Name: {{player.name}}, role is: {{player.role}}</p>

    <p class="text-info textPrincipal">Alive players:</p>

    <p *ngFor = "let player of alivePlayers" class="textSecundar text-dark">{{player.name}}</p>

    <p class="text-info textPrincipal"> Dead players </p>
    <p *ngFor = "let player of diedPlayers" class="textSecundar text-dark">{{player.name}}</p>

</div>

