<div *ngIf = "!mafiaWin && !civiliansWin">

  <div *ngIf = "!myPlayer.speaker">

    <app-player-info [myPlayer] = "myPlayer" [alivePlayers] = "alivePlayers" [code] = "code"></app-player-info>

    <app-my-turn *ngIf = "myTurn && !mafiaKillingStart" (eventMyTurn) = "myTurn = false" [alivePlayers] = "alivePlayers"></app-my-turn>

    <app-mafia-killing *ngIf = "mafiaKillingStart" [alivePlayers] = "alivePlayers" (eventStart) = "mafiaKillingStart = $event"></app-mafia-killing>


  </div>

  <app-speaker-mode [speakerPlayers] = "speakerPlayers" *ngIf = "myPlayer.speaker" [diedPlayers] = "diedPlayers" [alivePlayers] = "alivePlayers" ></app-speaker-mode>

</div>


<app-vote *ngIf = "voteStarted && !myPlayer.speaker" [alivePlayers] = "alivePlayers"  [playersVotes] = "playersVotes" [myPlayer] = "myPlayer" (event) = "changeVote($event.id, $event.name)"></app-vote>

<div *ngIf="mafiaWin || civiliansWin">
  <app-play-game-end-of-the-game [alivePlayers] = "alivePlayers" [diedPlayers] = "diedPlayers"  [mafiaWon] = "mafiaWin" [civiliansWon] = "civiliansWin" [players] = "players"></app-play-game-end-of-the-game>
</div>


