<h2>There are {{playersNumber}} players who will play, pick their rolls</h2>

<div *ngIf = "playersNumber >= 4">
  <h4>Recomanded mode: </h4>
  <p>Bystanders: {{myMode?.bystanders}}</p>
  <p>Specialists: {{myMode?.specialists}}</p>
  <p>Leaders: {{myMode?.leaders}}</p>
  <p>Thugs: {{myMode?.thugs}}</p>
  <p>Mobsters: {{myMode?.mobsters}}</p>
</div>

<button *ngIf = "playersNumber >= 4" class="btn btn-info" (click) = "applyDefault()">Apply it</button>
<p class="text-info" *ngIf = "playersNumber < 4" >If there were more than 4 players, you would get access to default selections</p>


<button class="btn btn-outline-success" (click) = "pickCards()"  [disabled] = "mobsters == 0 && thugs == 0">Select the cards for the game</button>

<p *ngIf = "mobsters == 0 && thugs == 0" class="text-danger">There have to be at least one mafia player ( thug or mobster )</p>



      <label style="width:100%">Bystanders</label>
      <input class="form-control" type="number"   [(ngModel)] = "bystanders"  />


    <p class="text-danger" *ngIf = " +bystanders + +specialists + +leaders + +thugs + +mobsters > +playersNumber && +bystanders > 0">Be sure to be {{playersNumber}} roles</p>


      <label style="width:100%">Specialists</label>
      <input class="form-control" type="number"  [(ngModel)] = "specialists"  />

    <p class="text-danger" *ngIf = " +bystanders + +specialists + +leaders + +thugs + +mobsters > +playersNumber && specialists > 0" >Be sure to be {{playersNumber}} roles</p>



    <label style="width:100%">Leaders</label>
    <input class="form-control" type="number"  [(ngModel)] = "leaders"  />


    <p class="text-danger"  *ngIf = " +bystanders + +specialists + +leaders + +thugs + +mobsters > +playersNumber && leaders > 0">Be sure to be {{playersNumber}} roles</p>



    <label style="width:100%">Thugs</label>
    <input class="form-control" type="number"  [(ngModel)] = "thugs"  />

    <p class="text-danger"  *ngIf = " +bystanders + +specialists + +leaders + +thugs + +mobsters > +playersNumber && thugs > 0">Be sure to be {{playersNumber}} roles</p>




    <label style="width:100%">Mobsters</label>
    <input class="form-control" type="number"  [(ngModel)] = "mobsters"  />

    <p class="text-danger"  *ngIf = " +bystanders + +specialists + +leaders + +thugs + +mobsters > +playersNumber && mobsters > 0">Be sure to be {{playersNumber}} roles</p>


