<div class="row">
  <div class="col-md-6 col-xs-12">
    <p class="text-center">So.. What is Mafia?</p>
    <p>Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent, prin programele de publicare pentru calculator, ca Aldus PageMaker care includeau versiuni de Lorem Ipsum.</p>
  </div>

  <div class="col-md-6 col-xs-12">
      <p class="text-center">How do I play It?</p>
      <p>Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent, prin programele de publicare pentru calculator, ca Aldus PageMaker care includeau versiuni de Lorem Ipsum.</p>
   </div>

</div>

<p class="text-center">CARDS:</p>

<div class="btn-group" role="group" aria-label="Basic example">

    <button type="button" (click) = "filterChange('Mafia')" class="btn btn-secondary">Mafia</button>
    <button type="button" (click) = "filterChange('citzains')" class="btn btn-secondary" style="background-color:red" >Citzains</button>
    
</div>

<div class="row">
    <div class="card col-md-3" style="width: 18rem;" *ngFor = "let card of filteredCards" > 
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{card.name}}</h5>
          <p class="card-text">{{card.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    </div>
