
<div *ngIf = "!playGameService.iAmSeduced && !playGameService.iAmBlocked && !playGameService.iAmJailed">

    <div class="textSecundar" style="align-content:center;text-align:center;">

      <button *ngFor = "let player of alivePlayers" class="text-danger" (click) = "changeMafiaTarget(player.id, player.name)">{{player.name}}</button>

  </div>

    <p class="textPrincipal text-danger">Kill</p>
    <p class="textSecundar text-info">You want to kill {{mafiaKillingTargetName}}</p>

</div>

<p *ngFor = "let mafiot of mafias" class="textSecundar text-info">

  <span *ngIf = "mafiot.voteTo">
    {{mafiot.name}} is voting to {{mafiot.voteTo}}
  </span>

</p>

<p *ngIf = "counter == mafias?.length - 1" class="textPrincipal">
  Currently, all mafias are pointing to {{mafiaKillingTargetName}}
</p>

<p class="textPrincipal">Time left <b>{{timer}}</b></p>
