
<div *ngIf = "!playGameService.iAmSeduced && !playGameService.iAmBlocked && !playGameService.iAmJailed">

    <button *ngFor = "let player of alivePlayers" (click) = "changeMafiaTarget(player.id, player.name)">{{player.name}}</button>

    <h2 style="color:red">Kill</h2>
    <p>You want to kill{{mafiaKillingTargetName}}</p>

</div>

<p *ngFor = "let mafiot of mafias">

  <span *ngIf = "mafiot.voteTo">
    {{mafiot.name}} is voting to {{mafiot.voteTo}}
  </span>

</p>

<p *ngIf = "counter == mafias?.length - 1">
  Currently, all mafias are pointing to {{mafiaKillingTargetName}}
</p>

Time left {{timer}}
