<div *ngIf = "!playGameService.iAmSeduced && !playGameService.iAmBlocked && !playGameService.iAmJailed && playGameService.gameService.myPlayer?.role != 'journalist' ">

   <div class="textSecundar" style="align-content:center;text-align:center;">

      <button [disabled] = "!onClickAbility" class="textSecundar btn btn-success" *ngFor = "let player of alivePlayers" (click) = "sendAbility(player.id)">{{player.name}}</button>

  </div>

  <p class="textSecundar text-info" *ngIf = "onClickAbility">
      You have to choose from above on what player you would like to use your ability.
  </p>

  <div class="textSecundar" style="align-content:center;text-align:center;">

     <button *ngFor = "let i of playGameService.gameService.myPlayer?.abilities" style="margin:15px 0px;" class="btn btn-success textPrincipal" (click) = "onClickAbility = true; abilityChosen = i">{{i}}</button>

  </div>


  <p class="textSecundar text-info" *ngIf = "playGameService.gameService.myPlayer?.abilities.length > 1 && onClickAbility == false">
      You have to choose from above what ability you would like to use. Push on your role if you want to see infos about your abilities.
  </p>

</div>

<div *ngIf = "!playGameService.iAmSeduced && !playGameService.iAmBlocked && !playGameService.iAmJailed && playGameService.gameService.myPlayer?.role == 'journalist' ">

    <div class="textSecundar" style="align-content:center;text-align:center;">

      <button  *ngFor = "let player of alivePlayers" class="btn btn-secondary" (click) = "changeAbilityJournalist(player.id, player.name)">{{player.name}}</button>

    </div>

    <p class="textSecundar text-info" *ngIf = "onClickAbility">
        You have to choose from above two players that you want to use your ability on, after {{timer}} seconds, you will be revealed if they are on the same team.
        For more info press on your role.
    </p>

    <p class="textSecundar text-warning" >Chosen players {{name1}}, {{name2}}</p>

    <button *ngFor = "let i of playGameService.gameService.myPlayer?.abilities" class="btn btn-light textPrincipal"  [disabled] = "id1 && id2">{{i}}</button>

</div>

<p class="textPrincipal"> Time left <b> {{timer}} </b> </p>
